.blog {
    margin: 20px auto;
    padding: 0;
}
.blog > img {
    background-size: cover;
    width: 100%;
}
.blog > h1 {
    padding: 10px 0;
    color: #3a414e;
    font-weight: bold;
}
.blog .author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .author-info .tags {
    display: flex;
}

.blog .author-info .tags > div {
    color: #828bb2;
    background: rgba(130, 139, 178, 0.11);
    text-transform: uppercase;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.blog .author-info .author {
    display: flex;
}
.blog .author-info .author .info {
    margin: 0 10px;
    text-align: right;
}
.blog .author-info .author .info:nth-of-type(1) {
    font-weight: bold;
    font-size: 12px;
}
.blog .author-info .author .info .time {
    font-size: 10px;
    color: #797979;
}
.blog .author-info .author > img {
    width: 60px;
    height: 40px;
    object-fit: cover;
}
.blog > h6 {
    color: #797979;
    font-size: 14px;
    margin: 10px 0;
}
.blog .blockquote {
    background: #f2f3f7;
    padding: 20px;
    box-shadow: 3px 5px 8px 0 rgba(176, 176, 176, 0.1);
}
.blog .blockquote > div {
    background: #fff;
    padding: 10px;
    font-size: 16px;
    border-left: 2px solid #415094;
    font-style: italic;
    color: #797979;
}
.blog .functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #797979;
}

.blog .divider {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 20px 0;
}
.blog .comments .comment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.blog .comments .comment-item .left-content {
    display: flex;
    align-items: center;
}
.blog .comments .comment-item .left-content > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.blog .comments .comment-item .left-content .detail {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.blog .comments .comment-item .left-content .detail .name {
    color: #3a414e;
    font-weight: bold;
}
.blog .comments .comment-item .left-content .detail .time {
    font-size: 10px;
}
.blog .comments .comment-item .reply-btn {
    background: rgba(130, 139, 178, 0.1);
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
}
.blog .comments .comment-item .reply-btn:hover {
    background: #ff9907;
}
.blog .reply .first {
    display: flex;
    flex: 1 1;
}
.blog .reply .first > .name {
    margin-right: 10px;
}
.input-field {
    width: 100%;
    background: rgba(130, 139, 178, 0.11);
    border: 1px solid transparent;
    color: #999;
    font-size: 10px;
    padding: 10px 20px;
    margin: 5px 0;
    text-transform: uppercase;
}
.blog .reply .right-content {
    display: flex;
    justify-content: flex-end;
}

.blog .reply .right-content > .btn {
    margin: 0;
}

@media screen and (max-width: 768px){
    .blog {
        margin: 20px;
    }
}