.title {
    font-weight: bold;
    color: #13113a;
}
.link-text, .link-text:hover {
    text-decoration: none;
    color: #13113a;
}
.single-amenities {
    margin-top: 40px;
    padding: 0;
    background: #f9f9ff;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.single-amenities:hover {
    box-shadow: 0 20px 30px rgba(0, 35, 71, 0.1);
    background: #ffffff;
}
.single-amenities > img {
    max-width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.single-amenities .detail {
    padding: 30px;
}
.single-amenities .detail > .first-content {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.single-amenities .detail > .first-content .icon, .single-amenities .detail > .second-content .icon {
    padding: 0 5px;
}

.single-amenities .detail > .description {
    margin: 10px auto;
    font-size: 16px;
    text-align: justify;
}

.single-amenities .detail > .second-content {
    display: flex;
    justify-content: space-between;
}
.single-amenities .detail > .second-content a {
    color: #797979;
    font-size: 14px;
}

.right-content .bg-category {
    background: #f9f9ff;
    padding: 30px 20px;
    margin: 40px auto;
}
.right-content .instagram-gallery .image-list {
    display: flex;
    flex-wrap: wrap;
}
.right-content .instagram-gallery .image-list > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
.right-content .categories .category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.right-content .categories .category-item:hover {
    background: #13113a;
    color: #ffffff;
}
.right-content .search-form > div {
    position: relative;
}
.right-content .search-form > div > i {
    position: absolute;
    right: 10px;
    top: 10px;
}
.right-content .popular-post .item > img {
    max-width: 100%;
    object-fit: cover;
    margin: 20px auto;
}
.right-content .popular-post .item > h6 {
    line-height: 26px;
}