.contact {
    margin-top: 40px;
}
.contact .item {
    display: flex;
    align-items: center;
}
.contact .item .icon {
    color: #ff9907;
    font-size: 20px;
}
.contact .item .content {
    padding: 10px;
}
.contact .item .content > div:first-child {
    font-weight: bold;
}
.contact .item .content  > div:last-child {
    font-size: 10px;
}

.contact textarea {
    width: 100%;
    border: 1px solid #ced4da;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.contact .send-message {
    display: flex;
    justify-content: flex-end;
}
.contact .send-message .right-side {
    margin: 0;
}