* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #797979;
}

.btn {
    margin: 10px auto;
    background: #222;
    color: #ff9907;
    font-size: 12px;
    text-transform: uppercase;
}

.ml-20 {
    margin: 0 20px;
}
.ft-12 {
    font-size: 12px;
}

.btn:hover, .btn:focus {
    color: #222;
    background: #ff9907;
}

.full {
    width: 100%;
}

.navbar-dark {
    display: flex;
    justify-content: center;
}
.navbar-nav-fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #ddd;
    z-index: 99;
    transform: translateY(70px);
    padding: 10px 25px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: #3a414e;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #ff9907;
}

.image-ficture {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://www.w3schools.com/html/pic_trulli.jpg') left center no-repeat;
    color: #fff;
    background-size: cover;
}
.image-ficture > h1 {
    font-weight: bold;
    letter-spacing: 10px;
}
.image-slider-list {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 0;
}

.image-slider-list .image-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 20px;
}

.image-slider-list .image-item img {
    width: 100%;
    object-fit: cover;
}

.image-slider-list .image-item .content {
 font-weight: bold;
}

.image-slider-list .image-item .time {
    color: #777;
    font-size: 12px;
    margin: 10px 0;
}

.article {
}

.article .image {
    background: url('https://www.w3schools.com/html/pic_trulli.jpg') left center no-repeat;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    height: 450px;
    width: 100%;
}

.article .image .image-info {
    display: flex;
    align-items: center;
    background: #fff;
    height: 60px;
    color: #777;
}

.article .image .image-info > div {
    padding: 10px 20px;
}

.article .title {
    font-weight: bold;
    margin: 20px 0;
}

.article .tag {
    color: #555;
}

.article .description {
    color: #777;
}

.newsletter, .category, .popular-post, .common-post {
    background: #f9f9ff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.category .category-item {
    display: flex;
    justify-content: space-between;
    color: #797979;
    font-size: 12px;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.popular-post .image {
    background: url("https://www.w3schools.com/html/pic_trulli.jpg") left center no-repeat;
    width: 100%;
    height: 150px;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
    margin: 20px auto;
}
.popular-post .image .image-info {
    background: #fff;
    font-size: 12px;
    color: #999;
    display: flex;
    padding: 8px 15px;
    align-items: center;
}
.popular-post .image .image-info .divider {
    margin: 0 10px;
    border: 1px solid #999;
    height: 20px;
}

.popular-tag-post .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.popular-tag-post .tags > div {
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    background: #fff;
    font-size: 12px;
    color: #777;
}

.popular-tag-post .tags > div:hover, .popular-tag-post .tags > div:focus  {
    background: #222;
    color: #ff9907;
}

@media screen and (max-width: 768px){
    .image-ficture > h1 {
        letter-spacing: normal;
        font-size: 24px;
    }
    .image-slider-list {
        display: block;
    }
    .image-slider-list .image-item {
        min-width: 100%;
    }
}
